
:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }


.board {
    display: grid;
    width: 400px;
    height: 400px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    float: left;
}

.button {
    padding: 20px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.size-button {
    float: right;
}

.content {
    display: flex;
    justify-content: space-between;
}